html,
body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    color: white;
    background-color: black;
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Comic Neue', cursive;
}

textarea:focus,
input:focus {
    color: #ff0000;
    background-color: white;
}

input,
select,
textarea {
    color: #000;
    background-color: white;

}

.form {
    background-color: #000;
}

.container {
    width: 100vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    overflow: hidden;
    height: 1%;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.input {
    font-size: 2rem;
}

#button {
    color: black;
}

.rgb-box {
    width: 27%;
    height: 41rem;
    margin: 1rem 1rem;
    border: 5px solid white;
    border-radius: 3px;
    text-align: center;
}

.rgb-text {
    font-size: 4rem;
    margin: 1rem 0;
    background-color: rgba(0, 0, 0, 0);
}

.rgb-button {
    font-size: 4rem;
}