html, body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    color: white;
}

textarea:focus, input:focus {
    color: #ff0000;
}

input, select, textarea{
    color: #000;
}
.form {
    background-color: #000;
}
.container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}   

.input {
    font-size: 2rem;
}

#button {
    color: black;
}

.rgb-box {
    width: 27%;
    height: 50%;
    margin: 1rem 1rem;
}