html,
body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    color: white;
    background-color: black;
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Comic Neue', cursive;
}

textarea:focus,
input:focus {
    color: black;
    background-color: white;
}

#red:hover,
#red:focus {
    color: white;
    background-color: red;
}

#green:hover,
#green:focus {
    color: white;
    background-color: green;
}

#blue:hover,
#blue:focus {
    color: white;
    background-color: blue;
}

input,
select,
textarea {
    color: #000;
    background-color: white;
    transition: 0.4s all;
}

#title {
    font-size: 6rem;
    margin: 1rem 0;
    text-align: center;
}

hr.homerounded {
    border-top: 8px solid white;
    border-radius: 5px;
    animation: fadeIn 2s 1s forwards;
}

.rounded {
    border-top: 8px solid white;
    border-radius: 5px;
}

.form-wrapper {
    margin: 1.4rem 0;
    width: 95vw;
    text-align: center;
}

.form {
    background-color: #000;
    margin: auto;
}

.container {
    width: 100vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    overflow: hidden;
    height: 1%;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.input {
    font-size: 2rem;
}

#button {
    color: black;
    border-radius: 0.5rem;
    transition: 0.4s all;
}

#button:hover {
    background-color: black;
    color: white;
    border-color: rgba(0, 0, 0, 0);
}

.rgb-box {
    width: 27%;
    height: 41rem;
    margin: 1rem 1rem;
    border: 5px solid white;
    border-radius: 3px;
    text-align: center;
}

.rgb-text {
    font-size: 4rem;
    margin: 1rem 0;
    background-color: rgba(0, 0, 0, 0);
    text-shadow:
        1px 1px 2px black,
        1px -1px 2px black,
        -1px 1px 2px black,
        -1px -1px 2px black;
}

.rgb-button {
    font-size: 4rem;
    border-radius: .7rem;
    transition: 0.5s all;
}

.rgb-button:hover {
    background-color: white;
    color: black;
}

.box-number {
    font-size: 2rem;
    text-align: left;
    margin: 1rem 1rem;
    background-color: rgba(0, 0, 0, 0);
    text-shadow:
        1px 1px 2px black,
        1px -1px 2px black,
        -1px 1px 2px black,
        -1px -1px 2px black;
}

#error {
    font-size: 2rem;
    color: red;
    text-align: center;
}